html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

.main-container {
    display: grid;
    place-items: center;
    height: 100vh;
    padding: 50px 0;
    background-color: aqua;
    border-radius: 10px;
}

img {
    width: 20%;
    height: 50%;
    border-radius: 50%;
}

.repo_btn {
    color: #fff;
    background-color: blue;
    padding: 6px;
    border-radius: 4px;
    text-decoration: none;
}

.repo_btn:hover {
    background-color: #000;
}

#dayOfWeek,
#currentUTCTimeMilliseconds,
#myTrack {
    font-size: 14px;
    font-weight: 600;
}